@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
* {
  animation: fadein 0.8s;
}
body {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  margin: none;
  padding: 0;
}
.container {
  min-height: 90vh;
  background: #f9f5f3;
}
button {
  border: none;
  padding: 1rem;
  margin: 1rem;
  width: inherit;
  color: white;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  border-radius: 1rem;
  box-shadow: 1px 7px 5px rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 13px 17px 0px rgba(0, 0, 0, 0.75);
  }
}
.errors {
  color: red;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
