.nav {
  display: flex;
  justify-content: space-around;
  min-height: 5vh;
  width: 100%;
  justify-items: right;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  font-size: 2rem;
  .link {
    padding: 2rem;
    color: #fef5e7;
    text-decoration: none;
  }
  a {
    text-decoration: none;
    &:visited {
      text-decoration: none;
      color: #fef5e7;
    }
  }
  .link:hover {
    color: white;
  }
}
